body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;


}

/* Header Section */
header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  z-index: 10;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;

}

.logo {
  display: inline-flex;
  margin-left: 10px;

}

.tea-cozy {
  height: 50px;
}

.navigation {
  display: inline-flex;
  margin-right: 10px;

}

a {
  color: seashell;
}

/* Content */

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 69px;

}

/* Mission Section */

.mission {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  background-image: url(images/img-mission-background.jpg);
}

.our-mission {
  display: inline-flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: black;
  width: inherit;
  height: 140px;

}

/* Featured Tea Section */

.month {
  padding-top: 69px;
}

.teas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1000px;
  margin: 0 auto;
}

.tea-pic img {
  height: 200px;
  width: 300px;
  padding: 10px;

}

/* Locations Section */

.locations {
  display: flex;
  justify-content: space-around;
  align-items: center;

}
